<div class="video-button">
<div class="video-wrap">
  <%= video_tag 'ramen.mp4', autoplay: true, loop: true,  muted:true %>
</div>

<div class="home_btn div-center">
  <%= link_to "Look for RAMEN", tops_ramen_path, class: ' btn btn-default' %>
</div>
</div>
