
<!-- jqueryの読み込む -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- google map api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqpSF03kZY59cglWAiYAvZca_S1WKfdIQ"
></script>
<!-- js -->
<script type="text/javascript">
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {
      lat: 35.658034, //緯度を設定
      lng: 139.701636 //経度を設定
    },
    zoom: 8 //地図のズームを設定
  });
</script>
<div id="map" style="height: 500px; width: 50%; margin: 2rem auto 0;"></div>
    <button id="getcurrentlocation">getcurrentlocation</button>

<!-- jqueryの読み込む -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- google map api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqpSF03kZY59cglWAiYAvZca_S1WKfdIQ&libraries=places"
></script>
<!-- js -->
<script src="assets/javascripts/ramen.js" async></script>
